<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 404</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Page not found</h2>
    </hgroup>
</body>
</html>
