@{
    ViewBag.Title = "Home Page";
    
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <a href="@Url.Action("Workshop","SubPages")"><img class="resizeimg" src="~/Content/Images/HomePage/NAK-Carousel-2016-About.jpg" /></a>
        </div>
        <div class="col-md-4">
            <div class="right-menu-title">
                News Flash
            </div>
            <div class="right-menu">
                <div class="right-menu-link">News</div>
                <div class="right-menu-link">News</div>
                <div class="right-menu-link">News</div>
            </div>
            <div class="right-bottom-title">Speaker Videos</div>

        </div>
    </div>

    

</div>

<div class="container" style="margin-top:7px;">
    <div class="row" style="text-align:center;">
        <div class="col-md-4">
            <div class="right-menu-title">Doctoral Program Evaluation</div>
            
                <a href="@Url.Action("Workshop","SubPages")"><img class="resizeimg reziseheigt" src="~/Content/Images/HomePage/NAK-DPE-2016.jpg" /></a>

        </div>
        <div class="col-md-4" >
            
           <div class="right-menu-title">NAK Publications</div>
                <a href="@Url.Action("KinToday","SubPages")"><img class="resizeimg reziseheigt" src="~/Content/Images/HomePage/NAK-2016-FallNews.jpg" /></a>
            

        </div>
        <div class="col-md-4">
          
           <div class="right-menu-title">NAK Annual Meeting</div>
            <a href="@Url.Action("KinToday","SubPages")"><img class="resizeimg reziseheigt" src="~/Content/Images/HomePage/NAK-2017-Conference.jpg" /></a>
                

        </div>
    </div>
</div>