body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}
.header{
    background-image: url('Images/headerBackgroundSlice71px.png');
    height: 120px;
    background-repeat: repeat-x;
}

.logo {
    background: url('Images/AKA Logo70px.png');
    width: 100px;
    
}

.resizeimg {

    max-width: 100%;
}

.reziseheigt {

    max-height:100%;
    padding-top: 50px;
}

.carousel-control.left .glyphicon {
    left: 0;
    margin-left: 0;
}

.carousel-control.right .glyphicon {
    right: 0;
    margin-right: 0;
}

.subheader-span {
    font-family: trebuchet ms,geneva;
    font-size: 24pt;
    color: #ffffff;
}

.subheader-span-div {
    background-color: #019392;
    margin-top: 23px;
    height: 150px;
    padding-top: 50px;
}

.subheader-image {
    padding-top: 23px;
}

.pad-right {
    padding-right: 164px;
}

.left-menu {
    background-color: #E9F1F3;
    padding: 15px
}

.left-menu-title {
    margin-top: 29px;
    background-color: #106D6A;
    padding: 10px;
    color: white;
    font-size: 12pt;
}

.bold-font {
    font-weight: bold
}

@media (max-width: 64em) {
    .mobile-hide {
        display: none;
    }
}

@media (max-width: 26em) {
    .logo-hide {
        display: none;
    }
}


.left-menu-link {
    color: #106D94;
    
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        background: #E9F1F3;
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
}

.menu-link {
    color: #777777;
}

.menu-link:hover {
    color: black;
}

.menu-link:visited {
        color: black;
    }
.menu-link:active {
        color: black;
    }

.my-profile-btn {
    background-color: #106D6A;
    border-color: #106D6A;
}

    .my-profile-btn:hover {
        background-color: #019392;
        border-color: #019392;
    }




