
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main</h2>
@section BackMenu{
    <div class="left-menu-title">Backend Controls</div>
    <div class="left-menu">

        @foreach (AKAWeb_v01.Models.BackendMenuModel menuitem in ViewData["BackendPages"] as List<AKAWeb_v01.Models.BackendMenuModel>)
        {
            <div class="left-menu-item">@Html.ActionLink(menuitem.title, menuitem.action, menuitem.controller, null, new { @class = "left-menu-link" })</div>
        }

    </div>
}

<div><a href="@Url.Action("EditCarousel", "Backend")">Edit Carousel</a></div>
<div><a href="@Url.Action("ListPages", "Backend")">List Pages</a></div>