
@{
    ViewBag.Title = "PasswordRecoveryMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password Recovery</h2>

<p>@ViewBag.Message @Html.ActionLink("Go back to login", "Index", "Backend", null, null)</p>

