@model  IEnumerable<AKAWeb_v01.Models.UserHasProductModel>

@{
    ViewBag.Title = "PurchaseHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Purchase History</h2>
    @section BackMenu{
    <div class="left-menu-title">Backend Controls</div>
    <div class="left-menu">

        @foreach (AKAWeb_v01.Models.BackendMenuModel menuitem in ViewData["MyProfilePages"] as List<AKAWeb_v01.Models.BackendMenuModel>)
        {
            <div class="left-menu-item">@Html.ActionLink(menuitem.title, menuitem.action, menuitem.controller, null, new { @class = "left-menu-link" })</div>
        }

    </div>
    }

<table class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
            Start/Purchase Date
        </th>
        <th>
            End Date
        </th>
 
    </tr>

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @item.product.description
            </td>


            <td>
                @item.start_date
            </td>
   


            <td>
                @item.end_date
            </td>
        </tr>
    }

</table>

