
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head{

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>



<script>
    $(document).ready(function () {

        $(document).keyup(function () {
            var url = "/Backend/validateRegisterForm";
            var email = $("#email").val();
            var name = $("#name").val();
            var password = $("#password").val();

            $.post(url, { name: name, email: email, password: password }, function (data) {


                if (data == "true") {
                    $("#submit").prop('disabled', false);
                }
                else {
                    $("#submit").prop('disabled', true);
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {

        $("#email").blur(function () {
            var url = "/Backend/checkEmail";
            var email = $("#email").val();


            $.post(url, { email: email }, function (data) {



                $("#email_error").text(data);


            });
        });

        $("#email").focus(function () {
            var url = "/Backend/checkEmail";
            var email = $("#email").val();


            $.post(url, { email: email }, function (data) {



                $("#email_error").text(data);


            });
        });
    });
</script>

<script>
    $(document).ready(function () {

        $("#name").blur(function () {
            var url = "/Backend/checkName";
            var name = $("#name").val();


            $.post(url, { name: name }, function (data) {



                $("#name_error").text(data);


            });
        });

        $("#name").focus(function () {
            var url = "/Backend/checkName";
            var name = $("#name").val();


            $.post(url, { name: name }, function (data) {



                $("#name_error").text(data);


            });
        });
    });
</script>

<script>
    $(document).ready(function () {

        $("#password").blur(function () {
            var url = "/Backend/checkPassword";
            var password = $("#password").val();


            $.post(url, { password: password }, function (data) {



                $("#password_error").text(data);


            });
        });

        $("#password").focus(function () {
            var url = "/Backend/checkPassword";
            var password = $("#password").val();


            $.post(url, { password: password }, function (data) {



                $("#password_error").text(data);


            });
        });
    });
</script>
    
    }


<div class="row">
    <div class="col-md-offset-4">
        <h1>Register</h1>

        <p style="color:red;"><b>@ViewBag.Captchafail</b></p>

        @using reCAPTCHA.MVC
        @using (Html.BeginForm("RegisterUser", "Backend", FormMethod.Post))
        {
            <div class="form-group">
                <label for="name">Name</label> <span id="name_error" style="margin-left:5px; color:red"></span>
                <input id="name" type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label> <span id="email_error" style="margin-left:5px; color:red"></span>
                <input id="email" type="email" class="form-control" name="email" placeholder="Enter email">
                <span></span>
            </div>
            <div class="form-group">
                <label for="password">Password</label> <span id="password_error" style="margin-left:5px; color:red"></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
            </div>

            @Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha")
            <button id="submit" type="submit" class="btn btn-primary" disabled>Register</button>

        }
    </div>
</div>

