
@{
    ViewBag.Title = "EditMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditMenu</h2>
<h3>Add New Item to Main Menu</h3>
@using (Html.BeginForm("AddMainMenuItem", "Backend", FormMethod.Post))
{
    <input type="text" name="menu_name" />
    <input type="submit" value="Submit" />
}

