
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main</h2>

<div><a href="@Url.Action("EditCarousel", "Backend")">Edit Carousel</a></div>
<div><a href="@Url.Action("ListPages", "Backend")">List Pages</a></div>