
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h2>My Profile</h2>


@if(Session["username"] != null)
{
    <h2>Hi @Session["username"]</h2>
}
@if (Session["userpermission"].ToString() == "3")
{
    @section BackMenu{
    <div class="left-menu-title">Backend Controls</div>
    <div class="left-menu">

        @foreach (AKAWeb_v01.Models.BackendMenuModel menuitem in ViewData["BackendPages"] as List<AKAWeb_v01.Models.BackendMenuModel>)
        {
            <div>@Html.ActionLink(menuitem.title, menuitem.action, menuitem.controller, null, new { @class = "left-menu-link" })</div>
        }

    </div>
    }
}

<div class="row">

    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <p>
            <a href="#" class="btn btn-info btn-block my-profile-btn">
                <span class="glyphicon glyphicon-user"></span> Update User Profile
            </a>
        </p>

        <p>
            <a href="#" class="btn btn-info btn-block my-profile-btn">
                <span class="glyphicon glyphicon-lock"></span> Updated Password
            </a>
        </p>
        <p>
            <a href="#" class="btn btn-info btn-block my-profile-btn">
                <span class="glyphicon glyphicon-credit-card"></span> Purchase History
            </a>
        </p>
    </div>
    <div class="col-md-3"></div>
    </div>


</div>
