
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyProfile</h2>

@if(Session["username"] != null)
{
    <h2>Hi @Session["username"]</h2>
}
@if (Session["userpermission"].ToString() == "3")
{
    <a href="@Url.Action("Main", "Backend")">Go to backend controls</a>
}
