@model AKAWeb_v01.Models.UserModel

@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Password</h2>
@section BackMenu{
    <div class="left-menu-title">My Profile</div>
    <div class="left-menu">

        @foreach (AKAWeb_v01.Models.BackendMenuModel menuitem in ViewData["MyProfilePages"] as List<AKAWeb_v01.Models.BackendMenuModel>)
        {
            <div>@Html.ActionLink(menuitem.title, menuitem.action, menuitem.controller, null, new { @class = "left-menu-link" })</div>
        }

    </div>
}
<div class="row">
    <div class="col-md-offset-4">
        
        <p style="color:red;"><b>@ViewBag.Result</b></p>
        @using (Html.BeginForm("UpdatePassword", "Backend", FormMethod.Post))
        {
            <div class="form-group">
                <label for="password">Current Password</label>
                <input type="password" class="form-control" name="current_password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" name="new_password" placeholder="Password">
            </div>

            <input type="hidden" value="@Model.id" name="id" />
            <button type="submit" class="btn btn-primary">Save Changes</button>

        }
    </div>
</div>


