@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="border:1px ridge black; align-content:center;">
    <h1>Carousel</h1>
    <p class="lead"></p>
   
</div>

<div class="row" style="border:1px ridge black;">
    <div class="col-md-4">
        <h2>Workshop</h2>
        <p>
            
        </p>
        
    </div>
    <div class="col-md-4" style="border:1px ridge black;">
        <h2>Kinesiology Today</h2>
        <p></p>
        
    </div>
    <div class="col-md-4" style="border:1px ridge black;">
        <h2>Video</h2>
        <p></p>
        
    </div>
</div>