@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="border:1px ridge black; align-content:center;">
    <h1></h1>
    <p class="lead"><img class="resizeimg" src="~/Content/Images/feature_Events_and_Services.jpg" /></p>
   
</div>

<div class="container">
    <div class="row" style="border:1px ridge black;  text-align:center;">
        <div class="col-md-4" style="border:1px ridge black; height:239px;">
            <h2>Workshop</h2>
            <p>
                <img src="~/Content/Images/AKA_2017Workshop.jpg" />
            </p>

        </div>
        <div class="col-md-4" style="border:1px ridge black; height:239px;">
            <h2>Kinesiology Today</h2>
            <p><img src="~/Content/Images/Kinesiology-Today-Graphic.jpg" /></p>

        </div>
        <div class="col-md-4" style="border:1px ridge black; height:239px;">
            <h2>Video</h2>
           
                <iframe width="inherit" height="inherit" src="https://www.youtube.com/embed/PvjpIZPyQJo" frameborder="0" allowfullscreen></iframe>
            

        </div>
    </div>
</div>