@model AKAWeb_v01.Models.PageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Subheader{

    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-9">
                    <img class="subheader-image resizeimg" src="@Url.Content(Model.subheaderImage)" />
                </div>
                <div class="col-md-2 subheader-span-div resizeimg reziseheigt">
                    <p style="text-align: center;">
                        <span class="subheader-span"> @Model.title </span>
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

    </div>
    }

@section LeftMenu{
    <ul>
        @foreach (AKAWeb_v01.Models.MainMenuItem menuitem in Model.leftMenu)
        {
            
            <li> @Url.Action("Pages", "SubPages", new { id = menuitem.item_name.ToString() })</li>
        }

    </ul>

  }

@Model.pageContent