@model IEnumerable<AKAWeb_v01.Models.SectionModel>


<ul class="nav nav-pills" style="display:inline-block;color:darkgray;">
    @foreach (var item in Model)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@item.title<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                @foreach(var page in item.pages)
                {
                    <li>
                        @Html.ActionLink(page.title, "Pages", "SubPages", new { id = page.title}, null)
                    </li>
                }
            </ul>
        </li>


    }
</ul>



